<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFuwP0Vi_n9hu-XcOq7U6Len9KrNQN1hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>497947075017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>schromeo.PawPalDemo</string>
	<key>PROJECT_ID</key>
	<string>pawpal-5e7d5</string>
	<key>STORAGE_BUCKET</key>
	<string>pawpal-5e7d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497947075017:ios:59b0892b39f37e660ac818</string>
</dict>
</plist>